
.cart{
  width: 2%;
  
}
nav{
    display: flex;
    background-color: green;
    position: sticky;
    top: 0%;
    z-index: 1000;
  
    margin-bottom: 5em;
    margin-left: -0.6%;
    margin-top: -3%;
    width: 100vw;
    height: 8vh;
    gap: 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: wid;
        cursor: pointer;
    }
}
body {

  background-size: cover;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  padding: 20px;
  color: #333;
}


.kiosk-logo {
  width: 300px;
  height: auto;
  border-radius: 10px;
 
  margin-bottom: 15px;
}


p {
  font-size: 1.2em;
  color: #333;

  padding: 10px;
  border-radius: 5px;
}


.uppercase {
  text-transform: uppercase;
  color: #444;
  font-size: 1.5em;
  margin-top: 20px;
}


ul {

 
  border-radius: 8px;
color: white;
    box-shadow: 1px 1px black;
  width: 200px;
  margin: 10px 0;
  padding-left: 2%;
  background-color: green;
}

li {
  padding: 5px;
}



@media (max-width: 600px) {
  .kiosk-logo {
    width: 200px;
  }
  ul {
    width: 80%;
  }
}
